// Heading Color
$heading: #ffffff;

// Text Color
$text: #6e6e6e;

// Gray Background
$bg-gray: #e7f2fd;

// Primary Color
$primary: #242753;

// White Color
$white: #242753;

// Dark Color
$dark: #ffffff;

// Border Color
$border: #e5e5e5;

// Hover Color
$hover: #ffcc00;

// Secondary Color
$secondary: #a6a6a6;
