:root { 
	--main-color-green: #00C8A8;
	--main-color-pink: #EA5149;
	--main-color-yellow: #F1E306;
	--main-color-dark-blue: #3b2f8b;
	--main-color-aqua: #91F2F2;
	--main-color-grey-text: rgb(192,200,211);
	--main-color-light-blue: #9ed5df;
}
