.page-title {
	text-align: center;
	padding: 33px;
	width: 100%;
	color: #174c66;
}

.page-title>img {
	text-align: center;
	padding: 33px;
	width: 166px;
}

.page-title h2 {
	padding-bottom: 11px;
	font-size: 44px;
	line-height: 88px;
	display: inline-block;
}

p.tab {
	margin-left: 44px;
}