{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{% block title %} {% endblock title %}</title>
<link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/nice-select.min.css' %}" rel="stylesheet">
<link href="{% static 'css/buttons.style.css' %}" rel="stylesheet">
<link href="{% static 'css/form.style.css' %}" rel="stylesheet">
<link href="{% static 'css/table.style.css' %}" rel="stylesheet">
<link href="{% static 'css/menu.style.css' %}" rel="stylesheet">
<link href="{% static 'css/content.style.css' %}" rel="stylesheet">

<script src="{% static 'js/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/GSAP/TweenMax.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/math.js' %}"></script>

</head>

<body>
	<div class="container" id="main-body">
		<div class="full-screen-div"></div>
		<div class="message-box-container">
			<div class="message-box error-message-box"></div>
			<div class="message-box success-message-box"></div>
			<div class="return-button" onclick="toggleMessageBox(null, null)">
			</div>
		</div>
		<div class="menu-items-holder menu-items-holder-top">
			<ul class="menu-items menu-top">
				<!-- 					<li class="menu-item" id="about-us" -->
				<!-- 						data-href="{% url 'artwork:aboutus' %}"><img -->
				<!-- 						src="static/img/icons/about.svg"><span>About Us</span></li> -->
				<!-- 					<li class="menu-item" id="gallery" -->
				<!-- 						data-href="{% url 'artwork:gallery' %}"><img -->
				<!-- 						src="static/img/icons/art-gallery.svg"><span>Gallery</span></li> -->
				<li class="menu-item" id="contact-us"
					data-href="{% url 'artwork:contactus' %}"><img
					src="static/img/icons/contact.svg"><span>Contact Us</span></li>
			</ul>
		</div>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Dropdown </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a> <a
								class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div></li>
					<li class="menu-item" id="contact-us"
						data-href="{% url 'artwork:contactus' %}"><img
						src="static/img/icons/contact.svg"><span>Contact Us</span></li>
					<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>



		<!-- 			<div class="menu-items-holder menu-items-holder-left"> -->
		<ul class="menu-items menu-top">
			{% if user.is_authenticated and user.user_type == 6%}
			<li class="menu-item" id="about-us"
				data-href="{% url 'artwork:work_lists' %}"><img
				src="static/img/icons/document.svg"><span>Artwork List</span></li>
			{% endif %}
			<!-- 					<li class="menu-item" id="about-us" -->
			<!-- 						data-href="{% url 'artwork:history' %}"><img -->
			<!-- 						src="static/img/icons/history.svg"><span>History</span></li> -->
			<!-- 					<li class="menu-item" id="sign-up" -->
			<!-- 						data-href="{% url 'artwork:howtoenter' %}"><img -->
			<!-- 						src="static/img/icons/entrance.svg"><span>How to -->
			<!-- 							Enter</span></li> -->
			<!-- 					<li class="menu-item" id="sign-up" -->
			<!-- 						data-href="{% url 'artwork:rules' %}"><img -->
			<!-- 						src="static/img/icons/document.svg"><span>Rules</span></li> -->
			{% if user.is_authenticated and user.user_type == 1%}
			<li class="menu-item" id="sign-up"
				data-href="{% url 'artwork:signup_page' %}"><img
				src="static/img/icons/trophy.svg"><span>Submit Artwork
			</span></li> {% endif %}

			<!-- 					<li class="menu-item" id="contact-us" -->
			<!-- 						data-href="{% url 'artwork:faq' %}"><img -->
			<!-- 						src="static/img/icons/information.svg"><span>FAQ</span></li> -->
		</ul>

		<!-- 			</div> -->
		<div class="page-content">{% block content %}</div>
		<!-- 		</div> -->

		{% if user.is_authenticated %}
		<div class="form-section">
			<img class="user-icon" src="static/img/icons/user.svg">
			<p style="display: inline-block;">
			<h4 style="display: inline-block; padding-left: 22px;">{{
				user.get_username }}</h4>
			</p>
			<div class="row">
				<div class="col-md-9">
					<a href="#">Change Password</a>
				</div>
				<div class="col-md-3">
					<a href="{% url 'account:logout' %}">Logout</a>
				</div>
			</div>
		</div>
		{% else %}
		<div id="login-div"></div>
		{% endif %}
		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2019 Company Name</p>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#">Privacy</a></li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item"><a href="#">Support</a></li>
			</ul>
		</footer>
	</div>
	{% endblock %}
</body>

</html>