<script src="static/js/croppie.js"></script>
<link rel="stylesheet" href="static/css/croppie.css"
	crossorigin="anonymous">
<script type="text/javascript">
	var Cropper = window.Cropper;
	var aspectRatio = 1.414 //A4 paper

	function createCroppie() {
		$("#main-cropper")
				.append(
						"<span>Use the scroll wheel of your mouse to resize the image</span>");
		var basic = $('#main-cropper').croppie({
			viewport : {
				width : $(".form-section").width() * 6 / 7,
				height : $(".form-section").width() * 6 / 14
			},
			boundary : {
				width : $(".form-section").width(),
				height : $(".form-section").width() / 2
			},
			showZoomer : true
		});
		// 		basic.croppie('bind', {
		// 			url : 'images/NMMU_logo.png'
		// 		});
	}

	function readFile(input) {
		var filesToUploads = document.getElementById('workfile').files;
		$("#cropIcon").fadeIn()
		var file = filesToUploads[0];
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				var image = new Image();
				var img = document.createElement("img");
				img.src = e.target.result;

				var canvas = document.createElement("canvas");
				var ctx = canvas.getContext("2d");
				ctx.drawImage(img, 0, 0);

				var MAX_WIDTH = 400;
				var MAX_HEIGHT = 400;
				var width = img.width;
				var height = img.height;

				if (width > height) {
					if (width > MAX_WIDTH) {
						height *= MAX_WIDTH / width;
						width = MAX_WIDTH;
					}
				} else {
					if (height > MAX_HEIGHT) {
						width *= MAX_HEIGHT / height;
						height = MAX_HEIGHT;
					}
				}
				canvas.width = width;
				canvas.height = height;
				var ctx = canvas.getContext("2d");
				ctx.drawImage(img, 0, 0, width, height);
				dataurl = canvas.toDataURL(file.type);
				$('#main-cropper').croppie('bind', {
					url : e.target.result
				})
				$('#croppedImage').attr('src', dataurl)
			}
			reader.readAsDataURL(input.files[0]);
		} else {
			toggleMessageBox(
					"Sorry - you're browser doesn't support the FileReader API",
					true);
		}
	}

	$("#workfile").change(function() {
		$("#main-cropper").empty();
		createCroppie();
		readFile(this);
	});

	$('#cropIcon').on('click', function(ev) {
		$('#main-cropper').croppie('result', {
			type : 'canvas',
			size : 'viewport',
			format : 'jpeg'
		}).then(function(resp) {
			$("#croppedImage").attr('src', resp)
			$("#workfileCropped").val(resp)
			return false
		});
		$("#main-cropper").empty()
		return false
	});
	function filterSchool(stateId){
		$("#school-div-container").fadeIn()
		$(".school-option-class").each(function(){
			if($(this).attr("data-state") === stateId)
				$(this).show()
			else
				$(this).hide()
		})
	}
</script>
<div class="page-title">
	<h2>Entry Form</h2>
</div>
<div class="row">
	<div class="col-md-10 offset-md-1">
		<form method="post" id="entry-form-id" action="/"
			class="needs-validation form-general-style"
			enctype="multipart/form-data" novalidate>
			{% csrf_token %} <input type="hidden" name="id" id="id"
				value="{{ form.instance.firstname|default_if_none:'' }}">




			<!-- 				BIO  -->





			<div class="form-section" data-title="Personal Information">
				<div class="row">
					<div class="col-md-6">
						<lable for="firstname">First Name</lable>
						<input type="text" class="form-control form-input" id="firstname"
							name="firstname" placeholder="i.e. John   i.e. Amy"
							value="{{ form.instance.firstname|default_if_none:'' }}" required>
					</div>
					<div class="col-md-6">
						<lable for="surname">Surname</lable>
						<input type="text" class="form-control form-input" id="surname"
							name="surname" placeholder="i.e. Scholtz"
							value="{{ form.instance.surname|default_if_none:'' }}" required>
					</div>
				</div>
				<div class="row" id="dob-row">
					<div class="col-md-4">
						<lable for="yearDropDown">Date of Birth</lable>
						<input type="hidden" class="form-control form-input" id="dob"
							placeholder="" name="dob"
							value="{{ form.instance.dob|default_if_none:'' }}" required>
						<select id="yearDropDown" class="form-control form-input">
						</select>
					</div>
					<div class="col-md-4">
						<lable for="monthDropDown">&nbsp;</lable>
						<select id="monthDropDown" class="form-control form-input">
						</select>
					</div>
					<div class="col-md-4">
						<lable for="dayDropDown">&nbsp;</lable>
						<select id="dayDropDown" class="form-control form-input">
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<lable for="email">Email</lable>
						<input type="email" class="form-control form-input" id="email"
							name="email" placeholder="you@example.com"
							value="{{ form.instance.email|default_if_none:'' }}" required>
					</div>
					<div class="col-md-6">
						<lable for="cellphone">Cellphone</lable>
						<input type="tel" class="form-control form-input" id="cellphone"
							name="cellphone" placeholder="012 345 67 89"
							value="{{ form.instance.cellphone|default_if_none:'' }}" required>
					</div>
				</div>
			</div>




			<!-- 			PARENT INFO -->





			<div class="form-section" data-title="Guardian (Parent) Information">
				<div class="row">
					<div class="col-md-6">
						<lable for="parentname">Guardian (Parent) Full-Name</lable>
						<input type="text" class="form-control form-input" id="parentname"
							name="parentname" placeholder="i.e. Jack Scholtz"
							value="{{ form.instance.parentname|default_if_none:'' }}"
							required>
					</div>
					<div class="col-md-6">
						<lable for="parentphone">Guardian (Parent)'s Phone Number</lable>
						<input type="tel" class="form-control form-input" id="parentphone"
							name="parentphone" placeholder="012 345 67 89"
							value="{{ form.instance.parentphone|default_if_none:'' }}"
							required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<lable for="parentemail">Guardian (Parent)'s Email Address</lable>
						<input type="email" class="form-control form-input"
							id="parentemail" name="parentemail" placeholder="you@example.com"
							value="{{ form.instance.parentemail|default_if_none:'' }}"
							required>
					</div>
				</div>
			</div>




			<!-- 			SCHOOL -->





			<div class="form-section" data-title="My School">
				<div class="row">
					<div class="col-md-6">
						<lable for="states-dropdown">State (Province)</lable>
						<select class="form-control form-input" id="states-dropdown"
							onchange="filterSchool($(this).val())">
							<option value="" selected="selected" disabled="disabled">Select</option>
							<option value="0">Eastern Cape</option>
							<option value="1">Free State</option>
							<option value="2">Gauteng</option>
							<option value="3">KwaZulu-Natal</option>
							<option value="4">Limpopo</option>
							<option value="5">Mpumalanga</option>
							<option value="6">North West</option>
							<option value="7">Northern Cape</option>
							<option value="8">Western Cape</option>
						</select>
					</div>
					<div class="col-md-6" id="school-div-container">
						<lable for="school-dropdown">School</lable>
						<input type="hidden" name="school" id="school"
							value="{{ form.instance.school|default_if_none:'' }}" required>
						<select class="form-control form-input" id="school-dropdown"
							onchange="$('#school').val($('#school-dropdown').val())">
							<option value="" class="school-option-class">Choose...</option> {% for sch in schools %}
							<option value="{{ sch.id }}" data-state="{{ sch.province }}" class="school-option-class">{{ sch.name }} 
							{% endfor %}
						</select>
					</div>
				</div>
			</div>




			<!-- 			GRADE -->





			<div class="form-section" data-title="My Grade">
				<div class="row">
					<div class="col-md-2">
						<lable for="learnergrade7">Grade 7</lable>
						<input type="hidden" class="form-control form-input"
							id="currentlearnergrade" 
							value="{{ form.instance.learnergrade|default_if_none:'' }}"
							required> <input type="radio" checked
							class="form-control form-input" id="learnergrade"
							name="learnergrade"  value="Grade 7">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade8">Grade 8</lable>
						<input type="radio" class="form-control form-input"
							id="learnergrade8" name="learnergrade" 
							value="Grade 8">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade9">Grade 9</lable>
						<input type="radio" class="form-control form-input"
							id="learnergrade9" name="learnergrade" 
							value="Grade 9">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade10">Grade 10</lable>
						<input type="radio" class="form-control form-input"
							id="learnergrade10" name="learnergrade" 
							value="Grade 10">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade11">Grade 11</lable>
						<input type="radio" class="form-control form-input"
							id="learnergrade11" name="learnergrade" 
							value="Grade 11">
					</div>
					<div class="col-md-2">
						<lable for="learnergrade12">Grade 12</lable>
						<input type="radio" class="form-control form-input"
							id="learnergrade12" name="learnergrade" 
							value="Grade 12">
					</div>
				</div>
			</div>





			<!-- 			TEACHER'S INFO -->





			<div class="form-section" data-title="My Teacher">
				<div class="row">
					<div class="col-md-4">
						<lable for="teachername">Teacher Name</lable>
						<input type="text" class="form-control form-input"
							id="teachername" name="teachername" placeholder="i.e. Edvard Harry"
							value="{{ form.instance.teachername|default_if_none:'' }}"
							required>
					</div>
					<div class="col-md-4">
						<lable for="teacheremail">Teacher Email</lable>
						<input type="email" class="form-control form-input"
							id="teacheremail" name="teacheremail"
							placeholder="you@example.com"
							value="{{ form.instance.teacheremail|default_if_none:'' }}"
							required>
					</div>
					<div class="col-md-4">
						<lable for="teacherphone">Teacher Phone</lable>
						<input type="tel" class="form-control form-input"
							id="teacherphone" name="teacherphone" placeholder="0123456789"
							value="{{ form.instance.teacherphone|default_if_none:'' }}"
							required>
					</div>
				</div>
			</div>





			<!-- 			UPLOAD ARTWORK -->





			<div class="form-section" data-title="Upload my artwork">
				<div class="row">
					<div class="col-md-4" id="iconDiv">
						<lable for="workfile">Upload Work File</lable>
						<input type="file" class="form-control form-input" id="workfile"
							name="workfile" placeholder="" value="Browse"
							value="{{ form.instance.workfile|default_if_none:'' }}"
							accept="image/*" required>
						<div id="main-cropper"></div>
						<div id="iconCropDiv">
							<img id="croppedImage" src="" alt="" /> <input type="hidden"
								class="form-control form-input" id="workfileCropped"
								name="workfileCropped" placeholder="" value=""
								value="{{ form.instance.workfileCropped|default_if_none:'' }}"
								required>
						</div>
						<button class="cropIcon" id="cropIcon" style="display: none">Crop</button>
					</div>
					<div class="col-md-8">
						<lable for="surname">Work Title</lable>
						<input type="text" class="form-control form-input" id="worktitle"
							name="worktitle" placeholder="I would like to call my artwork (Max 10 words)"
							value="{{ form.instance.worktitle|default_if_none:'' }}" required>
					</div>
				</div>
			</div>





			<!-- 			QUESTIONS -->





			<div class="form-section" data-title="Answering questions">
				<div class="row">
					<div class="col-md-6">
						<lable for="question1"><strong>Question 1: </strong>What Mathematics did
						you use in your artwork?</lable>
						<textarea class="form-control form-input" placeholder="Explain it in 50-100 words" id="question1"
							name="question1" rows="5">{{ form.instance.question1|default_if_none:'' }}</textarea>
					</div>
					<div class="col-md-6">
						<lable for="formulafile">Formula File</lable>
						<input type="file" class="form-control form-input"
							id="workformulafile" name="workformulafile" placeholder=""
							value="Browse"
							value="{{ form.instance.workformulafile|default_if_none:'' }}"
							accept="image/*" required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<lable for="question2"><strong>Question 2:</strong> How did you use
						creativity to connect Mathematics with "My Universe" to make your
						artwork?</lable>
						<textarea class="form-control form-input" id="question2" placeholder="Explain it in 50-100 words"
							name="question2" rows="5">{{ form.instance.question2|default_if_none:'' }}</textarea>
					</div>
					<div class="col-md-6">
						<lable for="question3"><strong>Question 3:</strong> Do you think creativity
						could be used to teach Mathematics? </lable>
						<textarea class="form-control form-input" id="question3" placeholder="Explain it in 50-100 words"
							name="question3" rows="5">{{ form.instance.question3|default_if_none:'' }}</textarea>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<button class="action-button" type="submit" id="buttonSubmit">Submit</button>
			</div>
		</form>
	</div>
</div>
