<form method="post" action="{% url 'account:register' %}"
	class="needs-validation form-general-style" id="registry-form"
	enctype="multipart/form-data" novalidate>
	<div class="form-section" data-title="Registration">
		<div class="form-group row">


			<!-- 					EMAIL -->


			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-addon"><i class="fa fa-at"></i></span>
				</div>
				<input type="email" class="form-control" placeholder="Email"
					required autocomplete="off" id="username" name="username"
					value="{{ user.username|default:'test@test.com' }}">
			</div>

			<!-- 				CELLPHONE -->

			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-addon"><i class="fa fa-mobile"></i></span>
				</div>
				<input type="text" class="form-control" placeholder="cellphone"
					required="required" id="cellphone"
					value="{{ user.cellphone|default:'0712345678' }}"
					name="Cellphone Number">
			</div>
		</div>


		<div class="row form-group">


			<!-- 					NAME -->


			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-text">First Name</span>
				</div>
				<input type="text" class="form-control" placeholder="i.e. Joe"
					required id="first_name" name="first_name"
					value="{{ user.first_name | default:'testname' }}">
			</div>
			<!-- 				SURNAME -->

			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-text">Last Name</span>
				</div>
				<input type="text" class="form-control" placeholder="i.e. Scholtz"
					required id="last_name"
					value="{{ user.last_name | default:'lastname' }}"
					name="last_name">
			</div>
		</div>



		<div class="row form-group">


			<!-- 					Date of Birth -->


			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-addon"><i
						class="fa fa-birthday-cake"></i></span>
				</div>
				<input type="date" class="form-control" required id="dob" name="dob"
					value="{{ user.dob|default:'2013-01-08' }}">
			</div>
		</div>



		<div class="row form-group">


			<!-- 					PARENT NAME -->


			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-text">Parent's Full-Name</span>
				</div>
				<input type="text" class="form-control"
					placeholder="i.e. Jack Scholtz" required id="parentname"
					name="parentname"
					value="{{ user.parentname|default:'testparentname' }}">
			</div>



			<!-- 				PARENT PHONE NUMBER -->

			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-text">Parent's Cell phone Number</span>
				</div>
				<input type="phone" class="form-control" name="parentphone"
					placeholder="012 345 67 89" id="parentphone"
					value="{{ user.parentphone|default:'081234567' }}"
					required>
			</div>
		</div>


		<!-- 				PARENT EMAIL ADDRESS-->


		<div class="row form-group">

			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-addon"><i class="fa fa-at"></i></span>
				</div>
				<input type="email" class="form-control" id="parentemail"
					name="parentemail" placeholder="you@example.com" value="{{ user.parentemail|default:'testparent@test.com' }}" required>
			</div>

		</div>




		<div class="row form-group">
			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-addon"><i class="fa fa-key"></i></span>
				</div>
				<input type="password" class="form-control" id="password1"
					name="password1" placeholder="Password" required value="abcdefg12345">
			</div>

			<div class="input-group col-sm-6">
				<div class="input-group-prepend">
					<span class="input-group-addon"><i class="fa fa-key"></i></span>
				</div>
				<input type="password" class="form-control" id="password2"
					name="password2" placeholder="Repeat Password" value="abcdefg12345" required>
			</div>
		</div>

		{% csrf_token %}
		<div class="row form-group">
			<div class="input-group col-sm-2"></div>
			<div class="input-group col-sm-8">
				<button class="btn btn-primary btn-success col-sm-12" type="submit" id="register-btn">Register Now</button>
			</div>
		</div>
	</div>
</form>
