<!-- Multi step form -->
<script>
	$(document).ready(
			function() {
				$.ajax({
					url : "{% url 'artwork:entry_form' %}",
					success : function(response) {
						$(".multi_step_form").html(response);
						$('#entry-form-id').submit(function(event) {
							event.preventDefault()
							submitEntryForm()
						})
						var maxYear = 2008, minYear = 2003
						var month = [ 'January', 'February', 'March', 'April',
								'May', 'June', 'July', 'August', 'September',
								'October', 'November', 'December' ]
						$("<option/>").val("").text("Year").prop("disabled",
								true).prop("selected", true).appendTo(
								"#yearDropDown")
						while (maxYear >= minYear) {
							$("<option/>").val(maxYear).text(maxYear).appendTo(
									"#yearDropDown")
							maxYear = maxYear - 1
						}
						$("<option/>").val("").text("Day").prop("disabled",
								true).prop("selected", true).appendTo(
								"#dayDropDown")
						for (var i = 1; i < 32; i++)
							$("<option/>").val(i).text(i).appendTo(
									"#dayDropDown")
						$("<option/>").val("").text("Month").prop("disabled",
								true).prop("selected", true).appendTo(
								"#monthDropDown")
						for (var i = 1; i < 13; i++)
							$("<option/>").val(i).text(month[i - 1]).appendTo(
									"#monthDropDown")
									
						$("#school-div-container").fadeOut()
						$(".school-option-class").hide()
					},
					error : function(request, status, error) {
						console.log(request.responseText);
					}
				});
			})

	function submitEntryForm() {
		var form = $('#entry-form-id')[0];
		$("#buttonSubmit").prop("disabled", true);
		var data = new FormData(form);
		$
				.ajax({
					type : "POST",
					enctype : 'multipart/form-data',
					data : data,
					processData : false,
					contentType : false,
					cache : false,
					timeout : 60000,
					url : "{% url 'artwork:entry_form' %}",
					beforeSend : function(xhr, settings) {
						function getCookie(name) {
							var cookieValue = null;
							if (document.cookie && document.cookie != '') {
								var cookies = document.cookie.split(';');
								for (var i = 0; i < cookies.length; i++) {
									var cookie = $.trim(cookies[i]);
									if (cookie.substring(0, name.length + 1) == (name + '=')) {
										cookieValue = decodeURIComponent(cookie
												.substring(name.length + 1));
										break;
									}
								}
							}
							return cookieValue;
						}
						if (!(/^http:.*/.test(settings.url) || /^https:.*/
								.test(settings.url))) {
							xhr.setRequestHeader("X-CSRFToken",
									getCookie('csrftoken'));
						}
						$("#dob").val(
								$("#monthDropDown").val() + "/"
										+ $("#dayDropDown").val() + "/"
										+ $("#yearDropDown").val())
					},
					success : function(response) {
						if (response.successResult != null) {
							$("#id").val(response.id)
							toggleMessageBox(response.successResult, false)
						} else if (response.errorResult != null) {
							$("#id").val(0)
							var errorList = $("<ul/>");
							Object.keys(JSON.parse(response.errorResult))
									.forEach(
											function(key, value) {
												$('<li/>').text("* " + key)
														.appendTo(errorList)
											})
							toggleMessageBox(
									"<span>Registration unsuccessful. <br>Please fill the following fields:</span>"
											+ $('<div>').append(
													errorList.clone()).html(),
									true)
						}
					},
					error : function(xhr, errmsg, err) {
						console.log(xhr.status + ": " + xhr.responseText)
						toggleMessageBox(xhr.responseText, true)
					},
					complete : function(response) {
						$("#buttonSubmit").prop("disabled", false)
						return -1
					}
				})
	}
</script>
<section class="multi_step_form"></section>