<!-- Multi step form -->
<script type="text/javascript" src="static/js/entry.form.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip()
	{% if user.is_authenticated %}
	fetchEntryForm("{% url 'artwork:entry_form' %}")
	{% else %}
	$("#registrationForm").load('/account/register/', function() {
		$("#register-btn").on("click", function(ev) {
			ev.preventDefault()
			submitRegistryForm("{% url 'account:register' %}")
		})
	})
	{% endif %}
})
</script>
{% if user.is_authenticated %}
<div class="page-title">
	<h4>Entry Form</h4>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" id="artwork-submit-form-holder-id"></div>
</div>
</section>
{% else %}
<div class="page-title">
	<h4>Register</h4>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" id="registrationForm"></div>
</div>
{% endif %}
