<div class="row report-section">
	<div class="col-md-12">
		<img type="file" id="workfileCropped" src="{{ work.workfileCropped }}">
	</div>
	<div class="col-md-12">
		<h3>
			<strong>Artwork </strong>"{{ work.worktitle }}"
		</h3>
	</div>
	<div class="col-md-12 normaldata">
		<h5>
			<strong>By </strong>{{ work.owner.last_name }}, {{ work.owner.first_name }}
		</h5>
	</div>
</div>
<div class="row report-section normaldata">
	<div class="col-md-6">
		<h6>
			<strong>Born in </strong>{{ work.dob }}
		</h6>
		<h6>
			<strong>Email </strong>{{ work.owner.email }}, <strong>Cell </strong>{{work.cellphone}}
			<h6>
	</div>
	<div class="col-md-6">
		<h6>
			{{ work.learnergrade }}, <strong>School</strong> {{ work.school }}.
		</h6>
		<h6>
			<strong>Teacher</strong> {{ work.teachername }}, <strong>Email</strong>
			{{ work.teacheremail }}
		</h6>
	</div>
	<div class="col-md-12">
		<h6>
			<strong>Parent</strong> {{ work.parentname }}, <strong>Cell</strong>
			{{ work.parentphone }}
			<h6>
	</div>
</div>


<div class="row report-section">
	<div class="col-md-6">
		<h6>
			<strong>Question 1: What Mathematics did you use in your
				artwork?</strong>
			<h6>
	</div>
	<div class="col-md-6">
		<span id="answer1">{{ work.question1 }}</span>
	</div>
	<div class="col-md-6">
		<h6>
			<strong>Question 2: How did you use creativity to connect
				Mathematics with "My Universe" to make your artwork?</strong>
			<h6>
	</div>
	<div class="col-md-6">
		<span id="answer2">{{ work.question2 }}</span>
	</div>
	<div class="col-md-6">
		<h6>
			<strong>Question 3: Do you think creativity could be used to
				teach Mathematics?</strong>
			<h6>
	</div>
	<div class="col-md-6">
		<span id="answer3">{{ work.question3 }}</span>
	</div>
</div>

{%if work.status == -1 %}
<div class="row form-section normaldata"
	data-title="Eligible/Revision/Reject">
	<div class="col-md-12" id="">
		<form method="post" id="entry-approval-form"
			action="{% url 'artwork:work_detail_update' %}"
			class="needs-validation form-general-style"
			enctype="multipart/form-data" novalidate>
			<div class="row form-section" data-title="Validate the entry format">
				<div class="col-md-3">
					<label for="bioapproved">Bio is acceptable</strong> <input
						type="checkbox" name="bioapproved" id="bioapproved"
						value="{{ work.bioapproved }}" class="form-control form-input">
				</div>
				<div class="col-md-3">
					<label for="workapproved">Artwork is uploaded properly</strong> <input
						type="checkbox" name="workapproved" id="workapproved"
						class="form-control form-input" value="{{ work.workapproved|default_if_none:'on'}}">
				</div>
				<div class="col-md-3">
					<label for="qapproved">All 3 questions are answered</strong>
						<input type="checkbox" name="qapproved"
						id="qapproved" value="{{ work.qapproved }}"
						class="form-control form-input">
				</div>
				<div class="col-md-3">
					<label for="comment1">Comment</strong> <textarea type="checkbox"
							name="comment1" id="comment1" class="form-control form-input"
							rows="5" cols="100" placeholder="Any comments"></textarea>
				</div>
			</div>
			<input type="hidden" name="id" id="id" value="{{ work.id }}"
				class="form-control form-input"> <input type="hidden"
				name="status" id="status" value="{{ work.status }}"
				class="form-control form-input">
			<div class="row form-section" data-title="Decision">
				<div class="col-md-4">
					<button class="action-button green" id="approveBTN0">Approve</button>
				</div>
				<div class="col-md-4">
					<button class="action-button orange" id="reviseBTN0">Requires
						Revision</button>
				</div>
				<div class="col-md-4">
					<button class="action-button red" id="rejectBTN0">Reject</button>
				</div>
			</div>
		</form>
	</div>
</div>


<!-- 	FORM D1-a -->

{% elif work.status == 3 %}


<div class="row form-section evaldata"
	data-title="Evaluation Form Stage 1">
	<div class="col-md-10" id="form-d1-a"></div>
</div>



<!-- 	FORM D2 -->



{% elif work.status == 5 %}
<form method="post" id="" action="/"
	class="needs-validation form-general-style"
	enctype="multipart/form-data" novalidate>
	FORM D2
	<div class="row form-section" data-title="Decision">
		<div class="col-md-6">
			<button class="action-button green" id="buttonSubmit">Submit</button>
		</div>
	</div>
	<div class="col-md-6">
		<button class="action-button red"
			onclick="alert('update status to 6, visibility to 0')">Reject</button>

	</div>
</form>
{%elif work.status == 7 %}
<form method="post" id="" action="/"
	class="needs-validation form-general-style"
	enctype="multipart/form-data" novalidate>
	FORM D3
	<div class="row form-section" data-title="Decision">
		<div class="col-md-12">
			<button class="action-button green" id="buttonSubmit">Submit</button>
		</div>
	</div>
</form>
{%endif%}

<script type="text/javascript" src="static/js/work.detail.admin.js">
	
