<div class="page-title">
	<h2>Artworks</h2>
</div>
<div class="photo-viewer"></div>
<table class="table table-general-style">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Full Name</th>
			<th scope="col">Status</th>
			<th scope="col">Work Title</th>
			<th scope="col">Email</th>
			<th scope="col">Grade</th>
		</tr>
	</thead>
	<tbody>
		{% for work in works %}
		<tr class="row-hover"
			onclick="showDialogPage(this, '{% url 'artwork:work_details' work.id %}')">
			<th scope="row">{{ work.id }}</th>
			<td>{{ work.owner.last_name }}, {{ work.owner.first_name }}</td>
			<td>{{ work.get_status_display }}</td>
			<td>{{ work.worktitle }}
				<div class="artwork-thumbnail">
					<img class="img-thumbnail" src='{{ work.workfileCropped }}'>
				</div>
			</td>
			<td>{{ work.owner.email }}</td>
			<td>{{ work.learnergrade }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<script>
setTimeout(function(){
	$("tr.row-hover").each(function() {
		$(this).mouseenter(function() {
			$(".photo-viewer").html($(this).find(".artwork-thumbnail").html())
			TweenLite.to(".photo-viewer", .2, {
				scale: 1,
				"z-index": 11,
				opacity: 1,
				transformOrigin: "center"
			})
			TweenLite.to($(this), .2, {
				scale: 1.02,
				"z-index": 10,
				transformOrigin: "center",
				"box-shadow": "black 0px 0px 33px"
			})
		})
		$(this).mouseleave(function(){
			$(".photo-viewer").html("")
			TweenLite.to(".photo-viewer", .2 , {
				scale: 0,
				opacity: 0,
				"z-index": 1,
				transformOrigin: "center"
			})
			TweenLite.to($(this), .2, {
				scale: 1,
				"z-index": 1,
				transformOrigin: "center",
				"box-shadow": "none"
			})
		})
		$(this).click(function(){

		})
	})
}, 200)
</script>
