.section {
	box-shadow: 0px 8px 11px -11px #002142;
}

#parallax1 div.parallax-bg {
	background-size: 66%;
	background-image: url(../img/maps/floorplan.svg);
	opacity: .88;
}

#parallax2 div.parallax-bg {
	background-size: 55%;
	background-image: url(../img/maps/Geofence2.png);
	opacity: .33;
	height: 180%;
	top: -100%;
	background-position: right;
	filter: sepia(1) hue-rotate(-166deg);
}

#parallax3 div.parallax-bg {
	background-size: 44%;
	background-image: url(../img/maps/Geofence.png);
	opacity: .44;
	height: 200%;
	top: -100%;
	filter: sepia(1) hue-rotate(-166deg);
}

#parallax4 div.parallax-bg {
	background-size: 44%;
	background-image: url(../img/maps/movementstroke.svg);
	opacity: .44;
	height: 150%;
	top: -100%;
}

.parallaxParent div.parallax-bg {
	background-repeat: no-repeat;
	background-position: center;
	z-index: 0;
}

.parallaxParent {
	height: 80vh;
	overflow: hidden;
}

.parallaxParent>div.parallax-bg {
	height: 150%;
	position: relative;
	top: -75%;
	-webkit-transition: transform .1s ease-in-out;
	-moz-transition: transform .1s ease-in-out;
	-ms-transition: transform .1s ease-in-out;
	-o-transition: transform .1s ease-in-out;
	transition: transform .1s ease-in-out;
}

#reveal1, #reveal2, #reveal3, .large-text {
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition: transform 1s ease-in-out;
	-moz-transition: transform 1s ease-in-out;
	-ms-transition: transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
}

#reveal1, #reveal2, #reveal3, .large-text {
	opacity: 0;
	-webkit-transform: rotate(40deg) scale(0.5);
	-moz-transform: rotate(40deg) scale(0.5);
	-ms-transform: rotate(40deg) scale(0.5);
	-o-transform: rotate(40deg) scale(0.5);
	transform: rotate(40deg) scale(0.5);
}

#reveal1.visible, #reveal2.visible, #reveal3.visible, .large-text.visible {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

#reveal-elements {
	position: absolute;
	left: 22%;
	z-index: 1;
}

.bike {
	top: -40px;
	left: -20px;
	width: 120px;
	height: 240px;
	z-index: -2;
	transform: rotate(0);
	will-change: auto;
}

.planet {
	transition: transform .1s;
	animation: nudge 10s linear infinite;
	position: absolute;
	top: 250%;
	left: -20%;
	right: 120%;
	width: 100%;
}

.bike__marker {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1px;
	height: 1px;
}

#bm {
	position: relative;
}

.bike svg {
	z-index: 20;
	position: relative;
	will-change: auto;
}

.bike svg * {
	fill: rgb(0, 33, 66) !important;
	stroke: rgb(0, 33, 66) !important;
}

.umbrella-animation {
	position: absolute;
	top: -12px;
	left: calc(50% + 2px);
	transform: translateX(-50%);
	width: 100%;
	z-index: 10;
}

.numbering {
	color: #006a7c;
	line-height: 30px !important;
	font-size: 2.5rem !important;
	position: absolute;
}

.numbering span {
	left: 22px;
	border-radius: 50%;
	background-color: rgb(0, 33, 66);
	padding: 7px;
	color: white !important;
	text-align: center;
	width: 44px;
	height: 44px;
	display: inline-block;
}

.large-text {
	font-weight: 100;
	font-size: 1.1rem;
	max-width: 444px;
	margin-top: 33px;
	color: #002142;
	line-height: 1.8rem;
	color: #002142;
}

.largest-text {
	margin: 11px;
	position: absolute;
	font-size: 2.6rem;
	max-width: 444px;
	line-height: 3rem;
	color: #006a7c;
	font-weight: 600;
	z-index: 11;
}