#page-load-container {
	position: fixed;
	height: 100%;
	left: 0;
	right: 0;
	bottom: -100%;
	background-color: transparent;
	transition: bottom .5s linear;
	z-index: 1000;
}

.new-page-close-button {
	position: absolute;
	right: 10%;
	top: 10%;
	z-index: 11;
	margin: 11px;
	cursor: pointer;
}

#page-load-container.show {
	bottom: 0;
}

.cachu__nav {
	left: 1rem;
}

.cachu__section {
	padding-left: 4.5rem;
	padding-right: 1.5rem;
}

.section-icon {
	width: 44px;
}

.page-section-description-title {
	vertical-align: middle;
	font-size: 24px;
	font-weight: bold;
	padding-left: 11px;
	margin-top: 13px;
}

.page-section-description {
	text-align: justify;
	text-justify: inter-word;
	display: block;
	padding: 11px;
	color: white;
}

.page-section-description div {
	height: inherit;
	margin-bottom: 11px;
}

.page-load-container.title-logo {
	bottom: 0;
	left: 10%;
	width: 111px;
	height: 111px;
	top: unset;
	filter: drop-shadow(0px 7px 4px #eff7fd);
}

.page-load-container.logo-text {
	color: #79d1fb;
	font-size: 33px;
	margin-left: 48px;
	bottom: calc(10% + 11px);
	left: 10%;
	top: unset;
}

.page-load-container.logo-text.small-text {
	font-size: 22px;
	color: #001d3f;
	left: 10%;
	top: unset;
	bottom: calc(9% - 17px);
}

.content-section-header {
	text-align: left;
	padding: 22px 22px 22px 44px;
	color: white;
}

.ui-block-b svg {
	width: 80%;
	height: 80%;
	filter: drop-shadow(2px 15px 22px black);
}

.page-section-description div.ui-block-b {
	text-align: center;
}

.material-card h2 {
	width: 100%;
	padding: 7px 16px;
	font-size: 16px;
	line-height: 1.3em;
	margin: 0;
}

.material-card h2 span {
	display: block;
	text-align: center;
}

.col-md-2 {
	transition: transform .4s ease-in-out;
	filter: grayscale(.66);
}

.material-card .mc-description {
	position: absolute;
	top: 100%;
	right: 30px;
	left: 30px;
	bottom: 54px;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.material-card .img-container {
	width: 111px;
	padding: 7px;
	text-align: center;
	border-radius: 22px;
	border: 2px solid;
	margin: auto;
	transition: box-shadow .4s, background-color .4s;
}

.material-card .img-container svg {
	width: 90%;
	height: auto;
}

.clickedColumn .material-card .img-container svg path {
	fill: white !important;
}

.material-card {
	position: relative;
	height: 0;
	padding-bottom: calc(100% - 16px);
	margin-bottom: 2.6em;
}

.row {
	padding: 0;
	margin: 0;
}

#MSvideoContainer {
	width: 375px;
	height: 667px;
	top: calc(10% - 48px);
	right: calc(10% + 32px);
	background: url(../img/iphone.png) center center no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 11;
	/*     display: none; */
}

.iframes-class {
	display: none;
}

#MSvideoContent {
	padding: 104px 0 0 55px;
	text-align: center;
	overflow: hidden;
}

#MSvideoContent iframe, #MSvideoContent div {
	display: block;
	width: 266px;
	height: 471px;
}

#MSvideoContent div {
	display: table-cell;
	vertical-align: middle;
}

#MSvideoContent div svg {
	width: 100%;
	height: auto;
}

.page-section-description div img {
	border-radius: 22px;
	width: 333px;
}

.page-section-description {
	width: calc(100% - 346px);
	padding: 0 22px 0 11px;
}

li.cachu__nav__item {
	margin: 0 !important;
	width: 44px !important;
	height: 44px !important;
}

.cachu__nav__button {
	border-radius: 0px;
	margin-top: .1rem;
}

.cachu__nav__item img {
	width: 100%;
	height: 100%;
}

.cachu__nav__item a {
	background-color: transparent;
	border: 1px solid white;
	background-size: 66%;
	left: -11px;
	right: -11px;
	top: -11px;
	bottom: -11px;
	border-radius: 11px;
	background-repeat: no-repeat;
	background-position: center;
}

.cachu__nav__items {
	display: inline-table;
	padding: 11px 0 11px 0;
	border-radius: 11px;
	background: #001f35;
}

.active .cachu__nav__button {
	background-color: #014371;
	border-radius: 22px;
	background-size: 66%;
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(-2px 0px 2px #b0dbf95f);
	border: none;
}

.p-benefits {
	color: white;
	border-radius: 11px;
	border: 2px solid #008fe28a;
	padding: 7px;
	background-color: rgb(0, 31, 53, .66);
	font-weight: 500;
	filter: drop-shadow(2px 2px 2px black);
}

.p-explanation {
	color: white;
	padding: 0 11px;
}

.p-examples {
	font-style: italic;
	padding: 0 11px;
}

@media ( max-width : 700px) {
	.page-load-container.logo-text {
		color: #001d3f;
		font-size: 19px;
		margin-left: 37px;
		bottom: 5%;
		height: 11px;
		top: unset;
	}
	.page-load-container.logo-text.small-text {
		font-size: 15px;
		top: unset;
		bottom: calc(9% - 43px);
	}
	.page-load-container.title-logo {
		bottom: 2%;
		left: 10%;
		width: 66px;
		height: 66px;
		margin-left: -9%;
		top: unset;
		filter: drop-shadow(0px 8px 5px #eff7fd);
	}
	.new-page-close-button {
		right: 0px;
		top: 0;
		width: 44px;
		height: 44px;
	}
	.cachu__section {
		padding-left: .5rem;
		padding-right: .5rem;
	}
	.cachu__nav {
		right: 2.5rem;
		left: unset;
	}
	.content-section-header {
		text-align: center;
		padding: 11px;
		color: white;
		padding-right: 40px;
	}
	.content-section-header img {
		width: 32px;
	}
	.page-section-description-title {
		font-size: 17px;
		padding-left: 7px;
	}
	.page-section-description {
		padding: 7px;
		/* padding-left: 22px; */
		font-size: 14px;
		overflow-x: hidden;
		overflow-y: scroll;
		width: calc(100% - 66px);
	}
	.page-section-description .ui-block-a, .page-section-description .ui-block-b
		{
		width: 100%;
		float: none;
		height: unset;
		margin-bottom: 22px;
	}
	.main-menu-buttons {
		border: none !important;
	}
	.material-card .img-container {
		padding: 3px;
		width: 77px;
	}
	.clickedColumn .material-card .img-container {
		width: 77px;
	}
	.material-card {
		margin-bottom: 1.6em;
	}
	.row {
		padding: 22px 0px 0px 0px;
		margin: 0;
	}
	.col-md-2 {
		width: 33%;
		padding-right: 7px;
		padding-left: 7px;
		width: 50%;
	}
	.material-card h2 {
		padding: 3px;
		top: calc(100% - 33px);
		font-size: 14px;
	}
	#MSvideoContainer {
		display: none;
	}
}