.hover-description {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 1;
	padding: 11px;
	border-radius: 22px;
	border-radius: 22px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.hover-description ul {
	list-style: none;
}

.sub-functions li {
	margin: 11px;
	background-color: #001f35;
	color: white;
	border-radius: 11px;
	cursor: pointer;
	padding: 7px;
}

.sub-functions li span {
	font-size: 13px;
	font-weight: 500;
	margin: 33px;
}

.sub-functions li div.collapse span {
	font-size: 13px;
	font-weight: 100;
	display: inline;
}

.sub-functions li img {
	width: 44px;
	height: 44px;
	margin-left: 11px;
}

.sub-functions li div.collapse {
	background-color: #d4e7ff;
	color: #001f35;
	border-radius: 0 0 11px 11px;
}

.sub-functions li div.collapse img {
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 11px;
}

.material-card .img-container {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 7px;
	z-index: 3;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
}

.material-card .img-container svg {
	width: 90%;
	height: auto;
}

.material-card .img-container svg path {
	fill: #001d33;
	!
	important;
}

.material-card {
	position: relative;
	height: 0;
	padding-bottom: calc(100% - 16px);
	margin-bottom: 3.6em;
}

.material-card h2 {
	background-image: linear-gradient(to right, #001e34, #2698a7);
	position: absolute;
	top: calc(100% - 16px);
	left: 0;
	width: 100%;
	padding: 10px 16px;
	color: #fff;
	font-size: .8em;
	line-height: 1.3em;
	margin: 0;
	z-index: 10;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 0 0 22px 0;
}

.material-card.Indigo h2:before {
	border-top-color: transparent;
	border-right-color: #008cf3;
	border-bottom-color: #008cf3;
	border-left-color: transparent;
	border-bottom-color: #008cf3;
}

.col-md-2 {
	transition: all .4s ease-in-out;
}

.material-card h2:before, .material-card h2:after {
	content: ' ';
	position: absolute;
	left: 0;
	top: -16px;
	width: 0;
	border: 8px solid;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.material-card h2:after {
	top: auto;
	bottom: 0;
	border-top-color: #001e34;
	border-right-color: #001e34;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.material-card h2 span {
	display: block;
	text-align: center;
}

.material-card .mc-content {
	position: absolute;
	right: 16%;
	top: 16%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-color: #001d33;
	border-radius: 22px;
	border: 2px solid #001d33;
	width: 66%;
	height: 66%;
}

.material-card .mc-description {
	position: absolute;
	top: 100%;
	right: 30px;
	left: 30px;
	bottom: 54px;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: all 1.2s;
	-moz-transition: all 1.2s;
	-ms-transition: all 1.2s;
	-o-transition: all 1.2s;
	transition: all 1.2s;
}

@media ( max-width : 700px) {
	.material-card .img-container svg {
		width: 66%;
	}
	.hover-description {
		position: fixed;
		width: 100%;
		height: 50%;
		right: 0;
		bottom: 0;
		z-index: 10000;
		padding: 11px;
		border-radius: 22px;
		background-color: rgba(12, 60, 95, .8);
		border-radius: 22px 22px 0 0;
		overflow-y: scroll;
		overflow-x: hidden;
		display: none;
		top: unset;
	}
	.sub-functions li {
		margin: 7px;
	}
	.sub-functions li img {
		width: 33px;
		height: 33px;
		margin-left: 7px;
	}
	.sub-functions li span {
		font-size: 13px;
		font-weight: 500;
		margin: 13px;
	}
	.row {
		padding: 0 33px 0 33px;
		margin: 0;
	}
}