.ui-page {
	background-color: rgb(249, 252, 255) !important;
	background-image: linear-gradient(to bottom, #ffffff, #e8f1fd);
	height: 100%;
	width: 100%;
	text-shadow: none;
}

#mainBodyFrame {
	background-color: #001d33;
	height: 90%;
	width: 90%;
	margin: auto;
	border-radius: 22px 22px 0 0;
	filter: drop-shadow(4px 6px 4px #001d33);
}

.main-menu-buttons {
	position: absolute;
	padding: 22px;
	filter: drop-shadow(4px 6px 4px #110b2c);
	border-radius: 22px 22px 0 0;
	background-image: linear-gradient(to top, #ffffff, #e8f1fd);
	bottom: 0;
	top: -22px;
	text-align: right;
}

.main-menu-buttons div {
	text-align: left;
	height: 10%;
	color: #001d33;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 10%;
	display: table;
	border-radius: 33px;
	box-shadow: 0 1px 2px #f5f9ff, /*bottom external highlight*/ 0 -1px 1px
		#666, /*top external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5),
		/*bottom internal shadow*/ inset 0 1px 1px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.main-menu-buttons object {
	width: 33%;
	vertical-align: middle;
	margin-right: 11px;
	float: left;
	height: 100%;
	display: table-cell;
	margin-left: 22px;
}

.main-menu-buttons div span {
	display: table-cell;
	width: 66%;
	vertical-align: middle;
}

.main-menu-buttons div.active {
	background-color: #f5f9ff;
    filter: drop-shadow(3px 3px 2px #190b42);
}

.main-menu-buttons div.active span, .main-menu-buttons div.active object
	{
	font-weight: bold;
	filter: drop-shadow(1px 2px 1px #cbe3f9);
}

.main-menu-buttons div:first-child {
	margin-top: 50%;
}

span.title-logo {
	color: #001d33;
	position: absolute;
	font-size: 27px;
	padding-left: 0;
	font-weight: bold;
	top: 22px;
	right: 11px;
}

.compass-logo {
	color: rgb(3, 6, 9);
	background-repeat: no-repeat;
	background-size: contain;
	width: 222px;
	height: 222px;
	position: fixed;
	z-index: 11;
}

.compass-logo svg {
	width: 100%;
	height: auto;
}

.page-contents {
	padding: 13px;
	margin-left: 262px;
	position: absolute;
	bottom: 0;
	top: 0;
	overflow: hidden;
	right: 0;
	left: 0;
}

.a-page-content {
	height: 100%;
}

.story-lines {
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	filter: drop-shadow(0 0 2px #e8f1fd);
	display: none;
}